{"name":"tinychat","slug":"tinychat","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"app.tinychat"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"permissions":["android.permission.RECORD_AUDIO"]},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"2be1115d-d728-4204-9a7b-a21f5e3ee5d1"}},"plugins":[["@react-native-voice/voice",{"microphonePermission":"Permission to use Mic","speechRecognitionPermission":"Permission to use Speech Rec."}]],"sdkVersion":"50.0.0","platforms":["ios","android"]}